html, body, #app {
  height: 100%;
}

body {
  background-color: #444;
}

#display-options {
  margin-top: -20px;
  height: 30px;

  background-color: #333;
  border-bottom: 1px solid #666;
  color: #999;
  padding: 4px 0px;

  #category-options {
    padding: 0px;
    list-style: none;
    li {
      display: inline-block;
      padding: 0px 10px;
      margin-top: -3px;

    }
  }
}

#workspace {
  position: absolute;
  top: 82px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  color: #999;
  h3 {
    margin-top: 10px;
    border-bottom: 1px solid #999;
    i {
      margin-right: 5px;
      cursor: pointer;
      &:hover {
        color: green;
      }
    }
  }

  .calendar {
    height: 100%;
    > div {
      height: 100%;
      border-right: 1px solid #666;
    }
    h3 {
      text-align: center;
    }
  }

  .other-times {
    height: 100%;
    > div {
      height: 50%;
    }
    .later {
      .tasks-box {
        bottom: 50%;
      }
    }
    .someday {
      .tasks-box {
        top: 50%;
      }
    }
  }

}

.tasks {
  max-height: 100%;
  .task {
    position: relative;
    padding-left: 15px;
    min-height: 30px;
    z-index: 10;

    background: #ffffff;
    color: black;

    &.inactive {
      opacity: .5;
    }

    &.completed {
      opacity: .2;
      color: #999;
      .title {
        text-decoration: line-through;
      }
    }

    &:hover {
      opacity: .8;
    }

    &before, &:after {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }
    .fa {
      cursor: pointer;
    }
  }
  .category {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 8px;

    background: blue;
  }
  .done {
    float: left;
    width: 20px;
    height: 30px;
    padding-top: 2px;
    font-size: 20px;
  }
  .info {
    input, textarea {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 3px;
    }

    .title {
      padding: 4px;
      font-size: 1.2em;
      input {
        height: 24px;
        max-width: 100%;
      }
      .fa {
        color: orange;
        font-size: small;
      }
    }
    .buttons {
      position: absolute;
      top: 0px;
      bottom: 0px;
      right: 0px;
      width: 15px;
      padding: 6px;
      .flyout {
        display: none;
        position: absolute;
        right: -22px;
        top: 0px;
        padding: 5px;
        background: #eee;
        .fa {
          display: block;
          padding-bottom: 4px;
          &:hover {
            color: blue;
          }
        }
      }
    }
    .description {
      padding: 5px 10px;
      color: #777;
    }
  }

}

.tasks-box {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -10;
  &.active {
    border: 5px dotted #356635;
    background: rgba(255, 255, 255, .2);
    z-index: 11;
  }
  &.selected {
    border: 5px dotted #356635;
    background: rgba(255, 255, 255, .6);
    z-index: 11;
  }
}

.taskList {
  height: 100%;
  padding-bottom: 30px;
}