<div class="taskList">
    <h3>{{title}} <i class="fa fa-plus pull-right" ng-click="addTask()"></i></h3>
    <div class="tasks">
        <div ng-repeat="task in tasks | filter:filterTasks" class="task" ng-class="{'completed' : task.done, 'inactive' : !task.active}" task-draggable="draggableData(task)">
            <div class="category"></div>
            <div class="done">
                <i class="fa fa-square-o" ng-show="!task.done" ng-click="task.done = true"></i>
                <i class="fa fa-check-square-o" ng-show="task.done" ng-click="task.done = false"></i>
            </div>
            <div class="info">
                <div class="title">
                    <span ng-dblclick="editTask($index,task)" ng-show="$index != editingIndex">{{task.title}}</span>
                    <input type="text" ng-model="task.title" ng-show="$index == editingIndex"/>
                    <i class='fa fa-power-off' ng-show='!task.active'></i>
                </div>
                <div class="buttons" flyout-hover='.flyout'>
                    <i class='fa fa-ellipsis-v'></i>
                    <div class='flyout'>
                        <i class='fa fa-info-circle' ng-click="selectTask($index, task)"></i>
                        <i class="fa fa-power-off" ng-click='activateTask($index, task)'></i>
                        <i class="fa fa-trash-o"></i>
                    </div>
                </div>
                <div class="description" ng-show="isSelected($index,task)">
                    {{task.description}}
                </div>
            </div>
        </div>
    </div>
    <div class="tasks-box"></div>
</div>
